{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Simple Budget</title>
</head>
{% block content %}

    <h1 class="budgeth">BUDGET PAGE FOR FREE USER</h1>
    <h2 class="budgets">Your After Tax Monthly Income Is: $1234</h2>

    <div style="display: flex; justify-content: center; gap: 60px; margin-top: 40px;">

        <div>
            <h3>Needs</h3>
            <form>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$">
            </form>
        </div>

        <div>
            <h3>Wants</h3>
            <form>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$">
            </form>
        </div>

        <div>
            <h3>Savings</h3>
            <form>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$"><br><br>
                <input type="text" placeholder="$">
            </form>
        </div>

    </div>

</body>
</html>
{% endblock %}
